//General
$tones: neutral, primary, success, warning, danger, info, urge;
$priorities: low, normal, high;

// Color
$white: var(--color-white);
$black: var(--color-black);

$neutral-100: var(--color-neutral-100);
$neutral-200: var(--color-neutral-200);
$neutral-300: var(--color-neutral-300);
$neutral-400: var(--color-neutral-400);
$neutral-500: var(--color-neutral-500);
$neutral-600: var(--color-neutral-600);
$neutral-700: var(--color-neutral-700);
$neutral-800: var(--color-neutral-800);
$neutral-900: var(--color-neutral-900);

$primary-100: var(--color-primary-100);
$primary-200: var(--color-primary-200);
$primary-300: var(--color-primary-300);
$primary-400: var(--color-primary-400);
$primary-500: var(--color-primary-500);
$primary-600: var(--color-primary-600);
$primary-700: var(--color-primary-700);
$primary-800: var(--color-primary-800);
$primary-900: var(--color-primary-900);

$success-100: var(--color-success-100);
$success-200: var(--color-success-200);
$success-300: var(--color-success-300);
$success-400: var(--color-success-400);
$success-500: var(--color-success-500);
$success-600: var(--color-success-600);
$success-700: var(--color-success-700);
$success-800: var(--color-success-800);
$success-900: var(--color-success-900);

$warning-100: var(--color-warning-100);
$warning-200: var(--color-warning-200);
$warning-300: var(--color-warning-300);
$warning-400: var(--color-warning-400);
$warning-500: var(--color-warning-500);
$warning-600: var(--color-warning-600);
$warning-700: var(--color-warning-700);
$warning-800: var(--color-warning-800);
$warning-900: var(--color-warning-900);

$danger-100: var(--color-danger-100);
$danger-200: var(--color-danger-200);
$danger-300: var(--color-danger-300);
$danger-400: var(--color-danger-400);
$danger-500: var(--color-danger-500);
$danger-600: var(--color-danger-600);
$danger-700: var(--color-danger-700);
$danger-800: var(--color-danger-800);
$danger-900: var(--color-danger-900);

$info-100: var(--color-info-100);
$info-200: var(--color-info-200);
$info-300: var(--color-info-300);
$info-400: var(--color-info-400);
$info-500: var(--color-info-500);
$info-600: var(--color-info-600);
$info-700: var(--color-info-700);
$info-800: var(--color-info-800);
$info-900: var(--color-info-900);

$urge-100: var(--color-urge-100);
$urge-200: var(--color-urge-200);
$urge-300: var(--color-urge-300);
$urge-400: var(--color-urge-400);
$urge-500: var(--color-urge-500);
$urge-600: var(--color-urge-600);
$urge-700: var(--color-urge-700);
$urge-800: var(--color-urge-800);
$urge-900: var(--color-urge-900);

$neutral: $neutral-600;
$primary: $primary-600;
$success: $success-600;
$warning: $warning-600;
$danger: $danger-600;
$info: $info-600;
$urge: $urge-600;

// Spacing
$spacing-1: theme("spacing.1");
$spacing-2: theme("spacing.2");
$spacing-3: theme("spacing.3");
$spacing-4: theme("spacing.4");
$spacing-5: theme("spacing.5");
$spacing-6: theme("spacing.6");
$spacing-8: theme("spacing.8");
$spacing-10: theme("spacing.10");
$spacing-12: theme("spacing.12");
$spacing-16: theme("spacing.16");
$spacing-20: theme("spacing.20");
$spacing-24: theme("spacing.24");
$spacing-32: theme("spacing.32");
$spacing-40: theme("spacing.40");
$spacing-48: theme("spacing.48");
$spacing-56: theme("spacing.56");
$spacing-64: theme("spacing.64");

// Font Size
$text-xs: theme("fontSize.xs");
$text-sm: theme("fontSize.sm");
$text-base: theme("fontSize.base");
$text-lg: theme("fontSize.lg");
$text-xl: theme("fontSize.xl");
$text-2xl: theme("fontSize.2xl");
$text-3xl: theme("fontSize.3xl");
$text-4xl: theme("fontSize.4xl");
$text-5xl: theme("fontSize.5xl");
$text-6xl: theme("fontSize.6xl");

// Line Height
$leading-none: theme("lineHeight.none");
$leading-tight: theme("lineHeight.tight");
$leading-snug: theme("lineHeight.snug");
$leading-normal: theme("lineHeight.normal");
$leading-relaxed: theme("lineHeight.relaxed");
$leading-loose: theme("lineHeight.loose");

// Border Radius
$rounded-none: theme("borderRadius.none");
$rounded-sm: theme("borderRadius.sm");
$rounded: theme("borderRadius.default");
$rounded-md: theme("borderRadius.md");
$rounded-lg: theme("borderRadius.lg");
$rounded-full: theme("borderRadius.full");
